.root {
    margin: 0 auto;
    text-align: start;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    padding: 60px;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 800px) {
        padding: 30px;
    }
    @media (max-width: 500px) {
        padding: 20px;
    }
}
.title {
    color: var(--foreground-primary);
    font-family: var(--font, Manrope);
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;

    @media (max-width: 800px) {
        font-size: 40px;
    }
    @media (max-width: 400px) {
        font-size: 34px;
    }
}
.subtitle {
    color: var(--foreground-secondary);

    /* Headings/Heading 5 */
    font-family: var(--font, Manrope);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.96px;
}
.text {
    color: var(--foreground-secondary);

    /* Body/Regular */
    font-family: var(--font, Manrope);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
}
.primary {
    background-color: #000000;
    display: flex;
    padding: 8px 24px;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: #000;

    color: var(--button-foreground, #fff);
    font-family: var(--font, Manrope);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    text-decoration: none;

    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    &:hover {
        background-color: var(--container-divider-secondary);
        border-color: var(--container-divider-secondary);
    }
}
.secondary {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 8px;
    border-radius: 99px;
    border: none;
    background: transparent;
    color: var(--foreground-secondary);
    font-family: var(--font, Manrope);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
    text-decoration: none;

    &:hover {
        color: var(--foreground-primary);
    }

    @media (prefers-color-scheme: dark) {
        img {
            filter: invert(1);
        }
    }
}
.heroContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 32px;
    min-width: 300px;
    flex: 1 0 0;
}
.image {
    border-radius: 30px;
    min-width: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
    object-fit: cover;
    flex: 1 0 0;
}
.hero {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    text-align: left;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.7);
    font-family: Manrope;
    max-width: 1100px;
}
.title,
.subtitle,
.text,
.buttons,
.image {
    opacity: 0;
    animation: fadeIn 1s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
}
.title {
    animation-delay: 0.1s;
}
.subtitle {
    animation-delay: 0.2s;
}
.text {
    animation-delay: 0.3s;
}
.buttons {
    animation-delay: 0.4s;
}
.image {
    animation-delay: 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
