.may122024 {
    width: 100%;
    position: relative;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    min-width: 300px;
    max-width: 500px;
}
.changeEverythingWith {
    margin: 0;
    width: 100%;
    position: relative;
    font-size: 40px;
    letter-spacing: -0.04em;
    font-weight: 600;
    font-family: inherit;
    color: var(--foreground-primary);
    display: inline-block;
    min-width: 300px;
    max-width: 500px;
}
.improveYourDesigning {
    margin: 0;
    width: 100%;
    position: relative;
    line-height: 27px;
    display: inline-block;
    min-width: 300px;
    max-width: 500px;
}
.buttonFreeText {
    position: relative;
    line-height: 27px;
    font-weight: 500;
}
.buttonFreeIcon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.buttonSecondary {
    text-decoration: none;
    backdrop-filter: blur(100px);
    border-radius: 99px;
    border: 1px solid var(--container-divider);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 16px;
    gap: 8px;
    transition: 1s;
    cursor: pointer;
    color: inherit;

    @media (prefers-color-scheme: dark) {
        img {
            filter: invert(1);
        }
    }
}
.buttonSecondary:hover {
    background-color: var(--container-divider);
}
.textBlockDouble {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    min-width: 280px;
    max-width: 500px;
}
.galleryItemImage {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.galleryItem {
    flex: 1;
    border-radius: 30px;
    border: 1px solid var(--container-divider);
    box-sizing: border-box;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 280px;
    max-width: 520px;
    transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.galleryItem:hover {
    transform: scale(1.1);
}
.articleUpdate {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1100px;
    text-align: left;
    font-size: 18px;
    color: var(--foreground-secondary);
    font-family: Manrope;
}

@media screen and (max-width: 880px) {
    .changeEverythingWith {
        font-size: 34px;
    }
}
