.root {
  margin: 0 auto;
  text-align: start;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  padding: 60px;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 800px) {
    padding: 30px;
  }
  @media (max-width: 500px) {
    padding: 20px;
  }
}
.gallery {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  max-width: 1100px;
}
.newest {
  position: relative;
  line-height: 30px;
  font-weight: 500;
  color: var(--foreground-primary);
}
.chevronDownIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button {
  flex: 1;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.1),
    10px 10px 30px rgba(0, 0, 0, 0.1),
    40px 40px 80px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(40px);
  border-radius: 20px;
  background-color: var(--background-primary);
  border: 1px solid var(--container-divider);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  min-width: 160px;
}
.button1 {
  flex: 1;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  background-color: var(--container-background-tertiary);
  border: 1px solid var(--container-divider1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  min-width: 160px;
}
.dropdowns {
  flex: 1;
  border-radius: 32px;
  background-color: var(--background-primary);
  border: 1px solid var(--container-divider);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 20px;
  min-width: 280px;
  max-width: 680px;
  @media (prefers-color-scheme: dark) {
    img {
      filter: invert(1);
    }
  }
}
.search1 {
  flex: 1;
  position: relative;
  line-height: 30px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--foreground-primary);
  font-size: var(--body);
  width: 100%;
}
.timer {
  flex: 1;
  backdrop-filter: blur(100px);
  border-radius: 20px;
  background-color: var(--background-primary);
  border: 1px solid var(--container-divider-secondary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  gap: 8px;
  min-width: 200px;
  color: var(--foreground-primary);
  @media (prefers-color-scheme: dark) {
    img {
      filter: invert(1);
    }
  }
  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  &:hover {
    background-color: var(--container-divider-secondary);
    border-color: var(--container-divider-secondary);
  }
}
.search {
  flex: 1;
  border-radius: 32px;
  background-color: var(--background-primary);
  border: 1px solid var(--container-divider);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  min-width: 220px;
  max-width: 230px;
  color: var(--foreground-primary);
}
.menu {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Manrope;
  max-width: 1100px;
  gap: 20px;
}
.selected {
  background-color: var(--container-divider);
}
