.galleryItemImage {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.bookmarkIcon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.circleButton {
  text-decoration: none;
  margin: 0 !important;
  position: absolute;
  right: 10.3px;
  bottom: 10px;
  box-shadow:
    0px 0.75px 0px rgba(0, 0, 0, 0.03),
    37.5px 37.5px 37.5px rgba(0, 0, 0, 0.05),
    75px 75px 75px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(40px);
  border-radius: 99px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 1;
  opacity: 0;
}
.circleButton:hover {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  backdrop-filter: blur(40px);
}
.galleryItem {
  flex: 1;
  border-radius: 30px;
  height: 320px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
  background-image: url('Gallery Item.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 280px;
  max-width: 520px;
  transition: 0.5s cubic-bezier(0.2, 0.8, 0.2, 1);
  border: 1px solid var(--container-divider);

  &:hover .circleButton {
    opacity: 1;
  }
}
.galleryItem:hover {
  transform: scale(1.1);
}
